$orange_color: #ff6f00;

@import url('http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

li {
    list-style: none;
}

.logo {
    background: url(../img/logo.svg);
    width: 166px;
    height: 28px;
}

.btn {
    display: inline-block;
    cursor: pointer;
    box-sizing: border-box;
    &.lg {
        padding: 0px 38px;
        font-size: 28px;
        border-radius: 6px;
        font-weight: 500;
        line-height: 44px;
    }
    &.sm {
        padding: 3px 20px;
        font-size: 20px;
        border-radius: 3px;
    }
    &.black {
        background-color: #000;
        color: #fff;
    }
    &.orange {
        background-color: $orange_color;
        color: #fff;
    }
    &.orangeOutline {
        border: 1px solid $orange_color;
        color: $orange_color;
    }
    &.create {
        padding: 0 75px;
        border: 2px solid $orange_color;
        font-size: 18px;
        color: $orange_color;
        height: 44px;
        line-height: 42px;
        border-radius: 6px;
        cursor: pointer;
        &:hover,
        &:focus {
            background-color: $orange_color;
            color: #fff;
        }
    }
    &.outCreate {
        padding: 0 75px;
        border: 2px solid $orange_color;
        background-color: $orange_color;
        font-size: 18px;
        color: #fff;
        height: 44px;
        line-height: 42px;
        border-radius: 6px;
        cursor: pointer;
        &:hover,
        &:focus {
            background-color: #fff;
            color: $orange_color;
        }
    }
    &.complete {
        width: 304px;
        height: 50px;
        padding: 14px 100px;
        border-radius: 6px;
        background-color: #ff7a00;
        font-size: 20px;
        color: #fff;
        font-weight: 500;
        display: inline-block;
        margin-top: 32px;
    }
    &.more {
        font-size: 16px;
        color: #acacac;
        font-weight: 500;
        display: inline-block;
        margin: 0 auto;
    }
}

.ic {
    display: inline-block;
    &.more {
        background: url(../img/ic_more_orange.svg) 0 0 no-repeat;
        width: 10px;
        height: 13px;
    }
    &.people {
        background: url(../img/ic_people.svg) 0 0 no-repeat;
        width: 22px;
        height: 23px;
    }
    &.folder {
        background: url(../img/ic_folder.svg) 0 0 no-repeat;
        width: 54px;
        height: 54px;
    }
    &.check {
        background: url(../img/ic_check.svg) 0 0 no-repeat;
        width: 24px;
        height: 24px;
        &.red {
            background: url(../img/ic_check_red.svg) 0 0 no-repeat;
        }
        &.gray {
            background: url(../img/ic_check_gray.svg) 0 0 no-repeat;
        }
    }
    &.tag_01 {
        background: url(../img/ic_tag_01.svg) 0 0 no-repeat;
        width: 33px;
        height: 33px;
    }
    &.tag_02 {
        background: url(../img/ic_tag_02.svg) 0 0 no-repeat;
        width: 33px;
        height: 33px;
    }
    &.tag_03 {
        background: url(../img/ic_tag_03.svg) 0 0 no-repeat;
        width: 33px;
        height: 33px;
    }
    &.viewer {
        background: url(../img/ic_viewer.svg) 0 0 no-repeat;
        width: 24px;
        height: 24px;
    }
    &.excel {
        background: url(../img/ic_excel.svg) 0 0 no-repeat;
        width: 25px;
        height: 24px;
    }
}

span.tag {
    text-align: center;
    line-height: 27px;
    width: 132px;
    height: 27px;
    border-radius: 30px;
    background-color: #aaa;
    margin-bottom: 12px;
    font-size: 16px;
    color: #fff;
    display: inline-block;
    &.red {
        background-color: #d80d0d;
    }
    &.orange {
        background-color: $orange_color;
    }
}

.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}

.align_wrap {
    width: 1280px;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(1px);
    background-color: rgba(255, 255, 255, 0.96);
    z-index: 111;
    .logo {
        position: absolute;
        top: 32px;
        left: 25px;
    }
    .align_wrap {
        height: 100%;
        text-align: right;
        line-height: 80px;
        .nav_menu {
            display: inline-block;
            margin-right: 100px;
            li {
                font-size: 18px;
                color: #000;
                margin-right: 40px;
                display: inline-block;
                cursor: pointer;
            }
        }
        .login {
            display: inline-block;
            font-size: 18px;
            color: #000;
        }
    }
}

.headerTab {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(1px);
    background-color: #333;
    z-index: 111;
    padding-left: 242px;
    line-height: 80px;
    color: #fff;
    font-size: 24px;
}

.sideNav {
    position: fixed;
    top: 80px;
    left: 0;
    width: 242px;
    height: calc(100vh - 80px);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    .sideWrap {
        width: 242px;
        height: calc(100vh - 80px);
        background: #fcfcfc;
        padding-top: 30px;
        ul {
            font-size: 0;
            li {
                width: 100%;
                padding-left: 25px;
                line-height: 50px;
                font-size: 18px;
                color: #fff;
                background: #000;
            }
        }
    }
    .upgrade_btn {
        position: fixed;
        bottom: 0;
        left: 0;
        padding-left: 25px;
        font-size: 18px;
        color: #fff;
        line-height: 50px;
        width: 242px;
        background-color: $orange_color;
        cursor: pointer;
    }
}

.sideTag {
    width: 242px;
    height: calc(100vh - 80px);
    position: fixed;
    top: 80px;
    left: 0;
    ul {
        width: 242px;
        height: 100%;
        background: #333;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        li {
            width: 242px;
            height: 50px;
            margin-bottom: 8px;
            padding-left: 25px;
            background-color: #464646;
            line-height: 50px;
            color: #fff;
            font-size: 18px;
            margin-bottom: 8px;
            font-weight: 400;
            cursor: pointer;
            &.active {
                background-color: #000;
            }
        }
    }
}

.container {
    width: 100%;
    padding: 80px 0 0 0;
    .sectionTitle {
        font-size: 32px;
        font-weight: 500;
        margin: 30px 0;
        position: relative;
        span.pr_leng {
            padding: 0 28px;
            height: 22px;
            line-height: 22px;
            color: #fff;
            font-size: 18px;
            margin-left: 12px;
            display: inline-block;
            background: $orange_color;
            border-radius: 12px;
            position: relative;
            top: -4px;
        }
        .ic_wrap {
            position: absolute;
            top: 0;
            right: 0;
            .ic {
                margin-left: 6px;
            }
        }
    }
    .itemLists {
        text-align: center;
        ul {
            margin-top: 30px;
            margin-bottom: 20px;
            font-size: 0;
            li {
                &.focus {
                    .visibleItem {
                        margin-bottom: 0px;
                        border-bottom-left-radius: 0;
                        border-bottom-right-radius: 0;
                        background-color: $orange_color;
                    }
                }
                .visibleItem {
                    text-align: left;
                    box-sizing: border-box;
                    width: 100%;
                    padding: 20px 16px;
                    margin-bottom: 6px;
                    border-radius: 4px;
                    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.25);
                    background-color: #fcfcfc;
                    position: relative;
                    &:hover {
                        background-color: $orange_color;
                        .itemInfo {
                            .itemName {
                                color: #fff;
                            }
                        }
                        .percent {
                            .per {
                                color: #fff;
                            }
                        }
                        .stDate,
                        .endDate {
                            color: #fff;
                        }
                    }
                }
                .hiddenItem {
                    transition: all 0.5s;
                    text-align: left;
                    box-sizing: border-box;
                    width: 100%;
                    padding: 20px 16px;
                    margin-bottom: 0px;
                    border-radius: 0px;
                    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.25);
                    background-color: #fcfcfc;
                    position: relative;
                    &:hover {
                        background: #e1e1e1;
                    }
                    &:last-child {
                        margin-bottom: 30px;
                        border-bottom-left-radius: 4px;
                        border-bottom-right-radius: 4px;
                    }
                    .percent {
                        text-align: center;
                    }
                }
                .itemInfo {
                    display: inline-block;
                    width: 30%;
                    vertical-align: middle;
                    .itemImg {
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background: #d3d3d3;
                        display: inline-block;
                        margin-right: 8px;
                        position: relative;
                        top: 4px;
                        &.folder {
                            width: 40px;
                            height: 40px;
                            border-radius: 3px;
                            background: #000;
                            .ic {
                                width: 100%;
                                height: 100%;
                                background-size: 15px;
                                background-position: center center;
                            }
                        }
                    }
                    .itemName {
                        font-size: 18px;
                        vertical-align: top;
                        color: #757575;
                        &.folder {
                            position: relative;
                            top: 12px;
                        }
                    }
                }
                .stDate {
                    display: inline-block;
                    font-size: 18px;
                    color: #757575;
                    width: 15%;
                    text-align: center;
                    vertical-align: middle;
                }
                .endDate {
                    display: inline-block;
                    font-size: 18px;
                    color: #757575;
                    width: 15%;
                    text-align: center;
                    vertical-align: middle;
                }
                .percent {
                    vertical-align: middle;
                    display: inline-block;
                    width: 400px;
                    .progress {
                        position: relative;
                        width: 230px;
                        height: 6px;
                        display: inline-block;
                        border-radius: 3px;
                        top: -4px;
                        span {
                            position: absolute;
                            top: 0;
                            left: 0;
                            display: inline-block;
                            height: 100%;
                            border-radius: 3px;
                            background-color: #1ad692;
                            transition: all 0.5s;
                        }
                    }
                    .per {
                        font-size: 20px;
                        margin-left: 30px;
                        color: #aaa;
                    }
                }
                .icon {
                    float: right;
                    .ic {
                        vertical-align: middle;
                    }
                }
            }
        }
    }
    .statusWrap {
        position: relative;
        box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.25);
        background-color: #fcfcfc;
        border-radius: 4px;
        .statusText {
            position: absolute;
            top: 8px;
            left: 16px;
            font-size: 16px;
            color: #aaa;
        }
        p {
            font-size: 20px;
            color: #aaa;
            &.darcker {
                color: #757575;
            }
        }
    }
    .statusImgTab {
        width: 100%;
        margin-top: 25px;
        .imgTab {
            display: inline-block;
            width: 370px;
            height: 370px;
            margin-right: 20px;
            background: url(../img/solution_mask_01.png) 0 0 no-repeat;
            background-size: 100%;
        }
        .statusWrap {
            display: inline-block;
            width: calc(100% - 400px);
            vertical-align: top;
            padding: 80px 50px 10px;
            .progressStatus {
                > div {
                    margin-bottom: 16px;
                    p {
                        font-size: 20px;
                        color: #757575;
                    }
                    .percent {
                        width: 100%;
                        .progress {
                            display: inline-block;
                            width: calc(100% - 80px);
                            height: 6px;
                            border-radius: 30px;
                            background: #fff;
                            position: relative;
                            span {
                                position: absolute;
                                top: 0;
                                left: 0;
                                height: 100%;
                                background: #1ad692;
                                display: inline-block;
                                border-radius: 30px;
                            }
                        }
                        .per {
                            display: inline-block;
                            font-size: 20px;
                            color: #757575;
                        }
                    }
                }
            }
            .more {
                text-align: center;
            }
        }
    }
    .tableWrap {
        position: relative;
        box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.25);
        background-color: #fcfcfc;
        border-radius: 4px;
        padding-top: 46px;
        margin-top: 25px;
        .tableName {
            font-size: 16px;
            font-weight: 500;
            position: absolute;
            top: 8px;
            left: 8px;
            color: #aaa;
        }
        .tableItem {
            padding: 25px;
            border-bottom: 1px solid #e3e3e3;
            &.active,
            &:hover {
                background-color: rgba(117, 117, 117, 0.2);
            }
            > div {
                display: inline-block;
                span {
                    vertical-align: middle;
                    display: inline-block;
                }
                &.memberInfo {
                    .memberImg {
                        width: 42px;
                        height: 42px;
                        border-radius: 50%;
                        background: #000;
                        margin-right: 25px;
                        .ic {
                            background-size: 14px;
                            background-position: center;
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .memberName {
                        font-size: 18px;
                        font-weight: 400;
                        color: #757575;
                    }
                }
                &.date {
                    font-size: 18px;
                    font-weight: 400;
                    color: #757575;
                    text-align: center;
                }
                &.tagLists {
                    width: 100%;
                    margin-top: 30px;
                    .addTags {
                        font-size: 16px;
                        color: #aaa;
                        margin-bottom: 8px;
                    }
                    .tag {
                        margin-right: 8px;
                    }
                }
            }
        }
        .tableWid {
            padding-left: 25px;
            padding-right: 25px;
            text-align: center;
            > div {
                display: inline-block;
                font-size: 16px;
                font-weight: 500;
                color: #aaa;
            }
            &.host_member {
                > div {
                    &:nth-child(1) {
                        width: 40%;
                    }
                    &:nth-child(2) {
                        width: 20%;
                    }
                    &:nth-child(3) {
                        width: 20%;
                    }
                    &:nth-child(4) {
                        width: 15%;
                    }
                    &:nth-child(5) {
                        width: 5%;
                    }
                }
            }
        }
    }
    .containerViewer {
        padding-left: 242px;
        .defaultContents {
            width: 100%;
            padding-top: 30px;
            .createContainer {
                width: 100%;
                height: calc(100vh - 80px);
                display: flex;
                align-items: center;
                justify-content: center;
                p {
                    font-size: 32px;
                    margin-bottom: 32px;
                }
            }
            .projectContainer {
                max-width: 1200px;
                margin: 0 auto;
            }
        }
        .tagContain {
            width: 100%;
            min-height: calc(100vh - 80px);
            background: #333;
            .tagContents {
                font-size: 0;
                .imgCanvas {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    .imgArea {
                        position: relative;
                        flex-basis: 1100px;
                        width: 1100px;
                        height: 750px;
                        background: url(../img/solution_mask_01.png);
                        .subBtn {
                            width: 54px;
                            height: 54px;
                            background: $orange_color;
                            border-radius: 50%;
                            position: absolute;
                            bottom: 25px;
                            left: 25px;
                            text-align: center;
                            .ic {
                                position: absolute;
                                top: calc(50% - 16.5px);
                                left: calc(50% - 16.5px);
                            }
                        }
                        .pageNav {
                            padding: 4px 30px;
                            border-radius: 30px;
                            background: rgba(255, 255, 255, 0.6);
                            -webkit-backdrop-filter: blur(4px);
                            backdrop-filter: blur(4px);
                            position: absolute;
                            bottom: 30px;
                            right: 25px;
                            font-size: 16px;
                            letter-spacing: 1.1px;
                        }
                    }
                    .tagArea {
                        flex: 1;
                        font-size: 0;
                        text-align: center;
                        vertical-align: top;
                        position: relative;

                        .tagWrap {
                            width: 100%;
                            height: calc(100% - 200px);
                            .baseTags {
                                vertical-align: top;
                                width: 50%;
                                max-width: 200px;
                                display: inline-block;
                                height: 100%;
                                > div {
                                    height: 100%;
                                    border-right: 1px solid #fff;
                                }
                            }
                            .addTags {
                                vertical-align: top;
                                width: 50%;
                                max-width: 200px;
                                display: inline-block;
                            }
                            .tagTitle {
                                font-size: 24px;
                                font-weight: 500;
                                margin-bottom: 20px;
                                color: #fff;
                            }
                        }
                        .btn.complete {
                            position: absolute;
                            bottom: 0;
                            left: calc(50% - 152px);
                        }
                    }
                }
            }
            .imgLists {
                width: 100%;
                max-width: 1500px;
                overflow-x: auto;
                margin-top: 35px;
                padding-bottom: 80px;
                ul {
                    white-space: pre;
                    li {
                        display: inline-block;
                        margin-right: 20px;
                    }
                }
                .swiperImg {
                    width: 170px;
                    height: 158px;
                    border-radius: 3px;
                    border: 1px solid #ff7a00;
                    background: url(../img/solution_mask_02.png) 0 0 no-repeat;
                    background-size: 100%;
                }
            }
        }
        .memberContents {
            padding-bottom: 140px;
            .team {
                .scription {
                    .teamInfo {
                        margin-bottom: 16px;
                        position: relative;
                        .teamImg {
                            width: 70px;
                            height: 65px;
                            border-radius: 6px;
                            line-height: 65px;
                            text-align: center;
                            background: #000;
                            margin-right: 30px;
                            display: inline-block;
                            span.ic {
                                position: relative;
                                top: 4px;
                            }
                        }
                        .teamTitle {
                            font-size: 28px;
                            font-weight: 500;
                            display: inline-block;
                            vertical-align: top;
                        }
                        .edit {
                            font-size: 18px;
                            color: $orange_color;
                            border: 1px solid $orange_color;
                            height: 22px;
                            width: 68px;
                            text-align: center;
                            border-radius: 30px;
                            display: inline-block;
                            position: absolute;
                            top: 0;
                            right: 0;
                            cursor: pointer;
                        }
                    }
                    .teamContext {
                        font-size: 24px;
                        font-weight: 400;
                        color: #757575;
                        padding-bottom: 70px;
                        border-bottom: 1px dashed #cacaca;
                    }
                }
                .project {
                    padding-bottom: 40px;
                    border-bottom: 1px dashed #cacaca;
                    .btn {
                        margin-right: 30px;
                    }
                }
                .projectTitle {
                    font-size: 32px;
                    font-weight: 500;
                    margin: 30px 0;
                    span.pr_leng {
                        padding: 0 28px;
                        height: 22px;
                        line-height: 22px;
                        color: #fff;
                        font-size: 18px;
                        margin-left: 12px;
                        display: inline-block;
                        background: $orange_color;
                        border-radius: 12px;
                        position: relative;
                        top: -4px;
                    }
                }
                .projectLists {
                    padding: 40px 0;
                    .pr_folder {
                        background: #000;
                        width: 170px;
                        height: 158px;
                        border-radius: 6px;
                        margin-right: 30px;
                        padding: 15px;
                        position: relative;
                        text-align: center;
                        display: inline-block;
                        .ic.folder {
                            margin: 40px 0 10px;
                        }
                        .progress {
                            position: absolute;
                            padding: 15px;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            .per {
                                font-size: 14px;
                                color: #fff;
                            }
                            .pr_bar {
                                margin-top: 5px;
                                width: 100%;
                                height: 6px;
                                background: #fff;
                                border-radius: 30px;
                                overflow: hidden;
                                position: relative;
                                span {
                                    display: block;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    height: 100%;
                                    background: #1ad692;
                                    border-radius: 30px;
                                    transition: all 0.5s;
                                }
                            }
                        }
                        &.asImg {
                            background: url(../img/solution_mask_01.png) 0 0 no-repeat;
                            background-size: 170px;
                            .ic.check {
                                position: absolute;
                                top: 8px;
                                left: 8px;
                            }
                        }
                    }
                }
            }
        }
        .pageHeader {
            margin-bottom: 20px;
            .back {
                font-size: 18px;
                color: #757575;
                font-weight: 500;
            }
            .right_ic {
                float: right;
            }
        }
        .MemberState {
            .memberTitle {
                border-radius: 4px;
                box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.25);
                background-color: #fcfcfc;
                box-sizing: border-box;
                padding: 0 25px;
                line-height: 110px;
                height: 110px;
                width: 100%;
                .memberInfo {
                    margin-bottom: 50px;
                    .memberImg {
                        width: 70px;
                        height: 70px;
                        background: #000;
                        border-radius: 50%;
                        text-align: center;
                        display: inline-block;
                        line-height: 70px;
                        margin-right: 30px;
                        .ic {
                            position: relative;
                            top: 10px;
                        }
                    }
                    .memberName {
                        font-size: 28px;
                        color: #000;
                        font-weight: 500;
                    }
                }
                .trash {
                    float: right;
                    vertical-align: middle;
                }
            }
            .projectstatus {
                .status {
                    .statusExplain {
                        padding: 0 16px;
                        div {
                            font-size: 16px;
                            color: #aaa;
                            text-align: center;
                            display: inline-block;
                            vertical-align: bottom;
                            &:nth-child(1) {
                                width: 30%;
                            }
                            &:nth-child(2) {
                                width: 15%;
                            }
                            &:nth-child(3) {
                                width: 15%;
                            }
                            &:nth-child(4) {
                                width: 40%;
                            }
                        }
                        + .itemLists ul {
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
        .statusTab {
            width: 100%;
            > div {
                width: calc(50% - 16px);
                display: inline-block;
                box-sizing: border-box;
                font-size: 0;
                padding: 20px 0;
                height: 70px;
                vertical-align: top;
                &:first-child {
                    margin-right: 8px;
                }
                &:last-child {
                    margin-left: 8px;
                    .progress {
                        width: 380px;
                        height: 6px;
                        margin: 0 auto 0;
                        border-radius: 3px;
                        span {
                            display: inline-block;
                            height: 100%;
                            background-color: #1ad692;
                            border-radius: 3px;
                        }
                    }
                }
            }
        }
    }
    .mainPage {
        background: linear-gradient(#f6f6f6 0%, #fff 33%);
        padding-top: 80px;
        width: 100%;
        overflow-x: hidden;
        .mainContents {
            .info {
                &:after {
                    content: '';
                    display: block;
                    clear: both;
                }
                &.product {
                    margin-bottom: 106px;
                    .textContents {
                        padding-top: 130px;
                        margin-right: 300px;
                        .subTitle {
                            .btn {
                                float: right;
                                margin-top: 10px;
                            }
                        }
                    }
                    .btnWrap {
                        margin-top: 38px;
                        .btn {
                            margin-right: 24px;
                        }
                    }
                }
                &.solution {
                    padding-bottom: 330px;
                    border-bottom: 2px dashed #cacaca;
                    .textContents {
                        margin-right: 150px;
                        .subTitle {
                            .btn {
                                margin-left: 50px;
                            }
                        }
                    }
                    .imgContents {
                        padding-top: 75px;
                    }
                }
                .textContents {
                    float: left;
                    display: inline-block;
                    .text {
                        .contentTitle {
                            font-size: 48px;
                            margin-bottom: 20px;
                            font-weight: bold;
                        }
                        .subTitle {
                            font-size: 40px;
                            ul {
                                margin-top: 40px;
                                li {
                                    position: relative;
                                    padding-left: 50px;
                                    margin-bottom: 30px;
                                    font-weight: 400;
                                    font-size: 40px;
                                    &:before {
                                        content: '';
                                        width: 15px;
                                        height: 15px;
                                        border-radius: 50%;
                                        background-color: #000;
                                        position: absolute;
                                        left: 12px;
                                        top: 15px;
                                    }
                                }
                            }
                        }
                    }
                }
                .imgContents {
                    float: left;
                    img {
                        border-radius: 6px;
                    }
                    &.multi {
                        float: left;
                        white-space: nowrap;
                        max-width: 50%;
                        img {
                            margin-right: 30px;
                        }
                    }
                }
            }
            .request {
                padding: 120px 80px;
                .sectionTitle {
                    font-size: 48px;
                    font-weight: bold;
                    color: $orange_color;
                }
                .submitForm {
                    margin-top: 28px;
                    padding-bottom: 40px;
                    .form {
                        margin-bottom: 24px;
                        .half {
                            width: 50%;
                            display: inline-block;
                            &:first-child {
                                padding-right: 15px;
                            }
                            &:last-child {
                                padding-left: 15px;
                            }
                        }
                        p {
                            font-size: 20px;
                            font-weight: 500;
                            color: #757575;
                            margin-bottom: 20px;
                        }
                        .inputForm {
                            width: 100%;
                            input,
                            textarea {
                                width: 100%;
                                border: 0.5px solid #aaa;
                                height: 62px;
                                border-radius: 6px;
                                background: #f2f2f2;
                            }
                            textarea {
                                height: 130px;
                            }
                        }
                        .fileForm {
                            label {
                                padding: 8px 20px;
                                border-radius: 6px;
                                border: 1px solid #afafaf;
                                font-size: 20px;
                                color: #9b9b9b;
                                cursor: pointer;
                            }
                            input[type='file'] {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
